@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Roboto, sans-serif;
  background-color: black;
  color: white;
  font-size: 14px;
}

/*LOGO*/

.logo {
  display: flex;
  align-items: center;
  margin: 8px;
  height: 50px;
  width: 240px;
}

.logo__icon {
  font-size: 30px;
  padding-right: 10px;
}

.logo__title {
  font-size: 25px;
  font-weight: lighter;
}

.logo__button:hover {
  cursor: pointer;
}

.drawer-icon {
  width: 100%;
}

.logo__drawer-icon-button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 4px;
  padding: 12px;
  position: relative;
}

.logo__drawer-icon-button::before {
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  transform: translateX(-25%) translateY(100%);

  content: attr(data-tooltip);
  visibility: hidden;
  color: white;
  padding: 0.2rem;
  opacity: 90%;
  width: max-content;
  border-radius: 0.3rem;
  background: #444746;
  z-index: 1;
}

.logo__drawer-icon-button:hover::before {
  visibility: visible;
  transition-delay: 1s;
}

.logo__drawer-icon-button:hover {
  cursor: pointer;
  background-color: #202124;
}

/*SIDEBAR*/

.sidebar {
  width: 256px;
}

.compose_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  margin: 20px 0px 15px 8px;
  width: 140px;
  height: 56px;
}

.compose_button:hover {
  cursor: pointer;
}

.compose-button__logo {
  font-size: 16px;
}

.compose-button__title {
  padding-left: 10px;
  color: #5f6368;
}

/*APP-SIDEBAR-BUTTON*/

app-sidebar-button {
  position: relative;
}

app-sidebar-button::before {
  position: absolute;

  content: attr(text);
  visibility: hidden;

  top: 5px;
  left: 95%;

  color: white;
  padding: 0.2rem;
  opacity: 90%;
  width: max-content;
  border-radius: 0.3rem;
  background: #444746;
  z-index: 1;
}

app-sidebar-button:hover::before {
  visibility: visible;
  transition-delay: 1s;
}